<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @relationship.name %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @relationship.is_active %>
</p>

<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
