<div class="dataTables_wrapper form-inline dt-bootstrap" id="DataTables_Table_0_wrapper">
  <div class="row">
    <div class="col-sm-12">
      <table id="example" aria-describedby="DataTables_Table_0_info" class="table table-hover dataTable table-striped width-full dtr-inline" data-language="{'info': ''}" data-ordering="false" data-paging="true" data-plugin="dataTable" data-searching="true" role="grid">
        <thead>
        <tr role="row">
          <th class="<%= get_sort_class('name') %>" colspan="1" rowspan="1" tabindex="0">
            Name
          </th>

          <th class="<%= get_sort_class('relationship_type_id') %>" colspan="1" rowspan="1" tabindex="0">
            Relationship
          </th>

          <th class="<%= get_sort_class('relationship_name') %>" colspan="1" rowspan="1" tabindex="0">
            Relationship Name
          </th>


          <th class="<%= get_sort_class('Gender') %>" colspan="1" rowspan="1" tabindex="0">
            Gender
          </th>


          <th class="<%= get_sort_class('age') %>" colspan="1" rowspan="1" tabindex="0">
            Age
          </th>

          <th class="<%= get_sort_class('age') %>" colspan="1" rowspan="1" tabindex="0">
            Number
          </th>
          <th class="<%= get_sort_class('age') %>" colspan="1" rowspan="1" tabindex="0">
            Caste
          </th>
          <th class="<%= get_sort_class('age') %>" colspan="1" rowspan="1" tabindex="0">
            Identity
          </th>

          <th class="<%= get_sort_class('died_at') %>" colspan="1" rowspan="1" tabindex="0">
            Died
          </th>

          <th>
            Photo
          </th>
          <% if current_user %>
              <th></th>
              <th></th>
          <% end %>
        </tr>

        </thead>
        <tbody>
        <% @graves.each do |grave| %>
            <tr>
              <td><%= grave.name %></td>
              <td><%= grave.relationship.try(:name) %></td>
              <td><%= grave.relationship_name %></td>
              <td><%= grave.gender %></td>

              <td><%= grave.age %></td>
              <td><%= grave.number %></td>
              <td><%= grave.caste.try(:name) %></td>
              <td><%= grave.identity.try(:name) %></td>
              <td><%= grave.died_at.strftime("%b %d, %Y") if grave.died_at.present? %></td>
              <td>
                <% if grave.attachment.present? %>
                    <%= link_to image_tag(grave.attachment.document(:medium), width: 200, class: 'img-responsive'), grave.attachment.document(:original), target: '_blank' %>
                <% end %>
              </td>
              <% if current_user %>
                  <td><%= link_to 'Edit', edit_grave_path(grave) %></td>
                  <td><%= link_to 'Destroy', grave, method: :delete, data: {confirm: 'Are you sure?'} %></td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {

    $('#example').DataTable({
      "pageLength": 25,
      dom: 'Bfrtip',
      responsive: true,
      "pagingType": "full_numbers",
      "paging": true,
      "searching": true,
      "ordering": true
    });
  });


</script>