<%= form_for(grave, local: true, url:{controller: 'home', action: 'search_form'}, remote: true, html: {multipart: true, 'data-toggle': 'validator'}) do |form| %>
    <br/>
    <br/>
    <% if grave.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(grave.errors.count, "error") %> prohibited this grave from being saved:</h2>

          <ul>
            <% grave.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class='form-group'>
      <label>Gender</label>
      <br/>
      <% Grave.genders.each do |k, v| %>
          <label class="radio-inline">
            <input type="radio" class="radio_gender" name="grave[gender]" value="<%= k %>"> <%= k.capitalize %>
          </label>
      <% end %>

    </div>



    <div class='form-group'>
      <%= form.label :name %>

      <%= form.select 'id', '',{include_blank: "Name"},'data-placeholder' => "Name" , id: 'grave_id', 'data-plugin' => "select2",
                      'data-allow-clear'=>"true", 'data-max-options'=>"10", class:'form-control js-data-example-ajax grave_name_selector',
                      'data-url' => get_graves_path,disabled: Grave.count < 1 %>
    </div>

    <div class='form-group'>
      <label>Caste</label>

      <%= form.select 'caste_id', '',{include_blank: "Caste"},'data-placeholder' => "Caste" , id: 'caste_id', 'data-plugin' => "select2",
                      'data-allow-clear'=>"true", 'data-max-options'=>"10", class:'form-control js-data-example-ajax caste_name_selector',
                      'data-parsley-required' => true, 'data-parsley-required-message' => "Caste is required" ,
                      'data-url' => get_caste_path,disabled: Caste.count < 1%>

    </div>

    <div class='form-group'>
      <label>Identity</label>

      <%= form.select 'identity_id', '',{include_blank: "Identity"},'data-placeholder' => "Identity" , id: 'identity_id', 'data-plugin' => "select2",
                      'data-allow-clear'=>"true", 'data-max-options'=>"10", class:'form-control js-data-example-ajax identity_name_selector',
                      'data-parsley-required' => true, 'data-parsley-required-message' => "Identity is required" ,
                      'data-url' => get_identity_path,disabled: Identity.count < 1%>

    </div>

    <div class='form-group'>
      <label>
        Grave Number
      </label>
      <%= form.text_field :number, id: :grave_number, class: 'form-control' %>
    </div>

    <div class='actions'>
      <%= form.submit 'Submit', class: 'btn btn-primary' %>
    </div>
<% end %>

<script type="text/javascript">
  select2_graves_dropdown('.grave_name_selector');
  select2_graves_dropdown('.caste_name_selector');
  select2_graves_dropdown('.identity_name_selector');

</script>