<p id="notice"><%= notice %></p>

<p>
  <strong>Created by:</strong>
  <%= @attachment.created_by_id %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @attachment.updated_by_id %>
</p>

<p>
  <strong>Attachable:</strong>
  <%= @attachment.attachable_id %>
</p>

<p>
  <strong>Attachable type:</strong>
  <%= @attachment.attachable_type %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
