<%= form_with(model: grave, local: true, html: {multipart: true, 'data-toggle': 'validator'}) do |form| %>
    <br/>
    <br/>
    <% if grave.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(grave.errors.count, "error") %> prohibited this grave from being saved:</h2>

          <ul>
            <% grave.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class='form-group'>
      <%= form.label :gender %>
      <%= form.select(:gender, options_for_select(Grave.genders.map { |k, v| [k, k] }, @grave.gender), {prompt: 'Select Gender'}, class: 'form-control', 'required': true) %>

    </div>

    <div class='form-group'>      <%= form.label :name %>
      <%= form.text_field :name, id: :grave_name, class: 'form-control', 'required': true %>
    </div>

    <div class='form-group'>
      <label>Relationship Type</label>
      <%= form.select(:relationship_id, @relationships.map { |p| [p.name, p.id] }, {prompt: 'Select Relation'}, class: 'form-control', 'required': true) %>
    </div>

    <div class='form-group'>
      <%= form.label :relationship_name %>
      <%= form.text_field :relationship_name, id: :grave_relationship_name, class: 'form-control', 'required': true %>
    </div>

    <div class='form-group'>
      <label>Caste</label>
      <%= form.select 'caste_id', options_for_select([[@grave.caste.try(:name),@grave.caste.try(:id)]],@grave.caste_id),{include_blank: "Caste"},'data-placeholder' => "Caste" , id: 'caste_id', 'data-plugin' => "select2",
                      'data-allow-clear'=>"true", 'data-max-options'=>"10", class:'form-control js-data-example-ajax caste_name_selector',
                      'data-parsley-required' => true, 'data-parsley-required-message' => "Caste is required" ,
                      'data-url' => get_caste_path,disabled: Caste.count < 1%>
    </div>



    <div class='form-group'>
      <label>Identity</label>
      <%= form.select 'identity_id', options_for_select([[@grave.identity.try(:name),@grave.identity.try(:id)]],@grave.identity_id),{include_blank: "Identity"},'data-placeholder' => "Identity" , id: 'identity_id', 'data-plugin' => "select2",
                      'data-allow-clear'=>"true", 'data-max-options'=>"10", class:'form-control js-data-example-ajax identity_name_selector',
                      'data-parsley-required' => true, 'data-parsley-required-message' => "Identity is required" ,
                      'data-url' => get_identity_path,disabled: Identity.count < 1%>
    </div>

    <div class='form-group'>
      <%= form.label :died_at %>
      <br/>
      <%= form.date_select :died_at, id: :grave_died_at, :start_year => Date.current.year, :end_year => 1920,
                           prompt: {day: 'Select day', month: 'Select month', year: 'Select year'}, :include_blank => true, class: 'form-control', 'required': true %>
    </div>

    <div class='form-group'>
      <%= form.label :age %>
      <%= form.select :age, options_for_select(0..140, @grave.age), {prompt: 'Select age'}, class: 'form-control', 'required': true %>
    </div>

    <div class='form-group'>
      <%= form.label :number %>
      <%= form.text_field :number, id: :grave_number, class: 'form-control', 'required': true %>
    </div>

    <div class='form-group'>
      <label>Photo</label>
      <%= form.fields_for :attachment do |attachment| %>

          <% if params[:action] == 'edit' && @grave.attachment.blank? %>
              <%= attachment.file_field :document, class: 'form-control', 'required': true %>
          <% else %>
              <%= attachment.file_field :document, class: 'form-control'%>
          <% end %>

      <% end %>
    </div>

    <% if params[:action] == 'edit' %>
        <div class='form-group'>
          <label>Current Photo</label>
          <% if @grave.attachment.present? %>
              <%= image_tag @grave.attachment.document.url(:medium), class: 'img-responsive' %>
          <% end %>
        </div>
    <% end %>



    <div class='actions'>
      <%= form.submit 'Submit', class: 'btn btn-primary' %>
    </div>
<% end %>


<script type="text/javascript">
  select2_graves_dropdown('.caste_name_selector');
  select2_graves_dropdown('.identity_name_selector');
</script>