<p id="notice"><%= notice %></p>

<h1>Graves</h1>
<br/>
<br/>

<table id="example" cellspacing="0" width="100%" class=' display'>
  <thead>
  <tr>
    <th>Name</th>
    <th>Relationship</th>
    <th>Relationship name</th>
    <th>Gender</th>
    <th>Died at</th>
    <th>Age</th>
    <th>Number</th>
    <th>Created by</th>
    <th>Updated by</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @graves.each do |grave| %>
      <tr>
        <td><%= grave.name %></td>
        <td><%= grave.relationship_id %></td>
        <td><%= grave.relationship_name %></td>
        <td><%= grave.gender %></td>
        <td><%= grave.died_at %></td>
        <td><%= grave.age %></td>
        <td><%= grave.number %></td>
        <td><%= grave.created_by_id %></td>
        <td><%= grave.updated_by_id %></td>
        <td><%= link_to 'Edit', edit_grave_path(grave) %></td>
        <td><%= link_to 'Destroy', grave, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New grave', new_grave_path %>

<script type="text/javascript">
  $(document).ready(function () {
    $('#example').DataTable({
      "pageLength": 25,
      dom: 'Bfrtip',
      buttons: [
        { extend: 'excel', text: 'Export Excel File', className: 'btn btn-primary' }
      ]
    });
  });


</script>